* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
	font-size: 1.2rem;
    font-family: 'Lato', Verdana, sans-serif;
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    padding: 0 40px;
    
}

.ancor-link {
    position: relative;
    top: -120px;
  }

.header {
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
    font-weight: 700;
    margin: 0 auto;
    color: white;
    position: sticky;
    z-index: 10;
    top: 0;
}

.header_wrapper {
    display:flex;
	align-items: baseline;
    justify-content: space-between;
    height: 89px;
    padding: 31px 39px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;	
	letter-spacing: -0.06rem;
	text-transform: uppercase;
}

.logo::after {
	content: "*";
	color: #f06c64;
}
.hamburger {
    display: none;
}

.navbar_items {
	display: flex;
	list-style: none;
	text-transform: uppercase;
    letter-spacing: 0.01rem;
    line-height: 14px;
}

.navigation-mobile {
    display: none;
}

.navbar_item {
	padding-left:26px;
	cursor: pointer;
}

.navigation_link {
    text-decoration: none;
    color: white;
}

.navigation_link:hover {
	color: #898fd8;
}

.active {
   color: #898fd8; 
}

.navbar_item:not(:last-child)::after {
	position: relative;
	content: ".";
	bottom: 3px;
	color: #494e62;
	left: 13px;
}

/********** Slider **********/

.slider {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  } 

.items-container {
    position: relative;
    overflow: hidden;
}

.item-active {
    height: 100%;
    width: 100%;
}

.phone_slide1 {
    background-color: #f06c64;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 11%;
    border-bottom: 6px solid #ea676b;
    max-height: 600px;
}

.phone_slide2 {
    background-color: #648bf0;
}

.phone_slide2 img {
    width: 100%;
    height: 100%;
}  

.phone_image {
    width: 100%;
}

.phone {
    position: relative;
}

.phone_display {
    position: absolute;
    top: 13.5%;
    left: 6.3%;
}

.phone_horizontal .phone_display{
    position: absolute;
    transform: rotate(90deg);
    left: 28%;
    top: -24%;
}

.phone_button {
   position: absolute;
   left: 0;
   bottom: 0;
    height: 80%;
    width: 85%;
    cursor: pointer; 
}

.phone_vertical .phone_button {
    bottom: 8%;
}

.phone_horizontal .phone_button {
    bottom: 17%;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
}
  
.item-active,
.next {
    display: block;
    width: 100%;
}
  
.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.arrow {
	width: 16px;
    height: 27px;
  	background: url("./assets/images/back.svg") no-repeat;
 	border: none;
	cursor: pointer;
    position: absolute;
    top: 47%;
}

.arrow-left {
    left: 40px;
}

.arrow-right {
    transform: rotate(180deg);
    right: 41px;
}
  
.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

/*********Our Services**********/

.services {
	background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 68px;
    padding-bottom: 29px;
}

.services_wrapper {
	padding: 0 40px;
	color: #767e9e;
}

.services_header {
    margin-bottom: 23px;
	font-size: 3rem;
	line-height: 24px;
	color: #666d89;
	font-weight: 900;
}

.services_text {
	font-size: 1.8rem;
	color: #767e9e;
	line-height: 30px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 43px;
    word-spacing: 0.02rem;
}

.layout-3-column {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.tool {
	width: 300px;	
    word-spacing: -0.06rem;
    margin-bottom: 17px;
    text-align: justify;
}

.tool_name {
	font-size: 1.8rem;
	line-height: 23px;
	font-weight: 900;
    margin: 0;
    max-height: 18px;
    overflow: hidden;
}

.tool_text{
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	margin: 11px 0;
    hyphens: auto;
    overflow: hidden;
    max-height: 70px;
}

.tool_icon {
	display: inline-block;
	width: 61px;
    height: 61px;
    margin-right: 19px;
    margin-top: 1px;
    float: left;
}

.icon-pen {
	background-image: url(./assets/images/Services.svg);
}

.icon-phone {
	background-image: url(./assets/images/Phone.svg);
}

.icon-bulb {
	background-image: url(./assets/images/Bulb.svg);
}

.icon-bubble {
	background-image: url(./assets/images/Bubble.svg);
}

.icon-heart{
	background-image: url(./assets/images/Heart.svg);
}

.icon-star {
	background-image: url(assets/images/Star.svg);
}

/**********Portfolio**********/

.portfolio_wrapper {
    margin: 0 auto;
    padding: 0 40px;
}

.portfolio {
    width:100%;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-top: 41px;
    padding-bottom: 47px;
}

.portfolio_header {
    margin: 21px 0px 20px 0;
}

.portfolio_logo {
   letter-spacing: 0.02rem;
   font-size: 30px;
   color: #666d89;
   font-weight: 900;
   margin: 0;
}

.logo-link {
    text-decoration: none;
    color: #666d89;
}

.portfolio_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin: 16px 0px 10px 0;
    letter-spacing: -0.02rem;
}

.portfolio_tag {
    display: flex;
    justify-content: flex-start;
}

.tag{
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 7px;
    font-size: 1.2rem;
    color: #767e9e;
    line-height: 19px;
    letter-spacing: 0.009rem;
    font-family: "Lato";
    cursor: pointer;
    padding: 0 7px;
}

.tag-selected, .tag:hover {
    border-color: #dedede;
    color: #dedede;
    outline: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery li {
    list-style: none;
    width: 23.5%;
    margin-bottom: 16px;
}

.gallery img {
    width: 100%;
}

.item_active, .gallery_item:hover {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

/****************About-us****************/

.about-us {
    background-color: #f2f2f2 ;
    border-bottom: 6px solid #ffffff;
    padding-top: 69px;
    padding-bottom: 66px;
}

.about-us_header {
    font-size: 3rem;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    margin-bottom: 26px;
}

.about-us_text {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    margin-bottom: 44px;
    letter-spacing: -0.25px;
    text-align: justify;
}

.employee {
    width: 32%;
}
.employee img {
    width: 100%;
}

.employee_name {
    margin: 0;
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.employee_text {    
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
    font-weight: 300;
    margin: 10px 0 21px 0;
    word-spacing: -0.05rem;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 154px;
}

.social_icon {
    width: 32px;
    height: 32px;
}

.social_icon:hover {
    cursor: pointer;
    background-color: #666d89;
    border-radius: 25px;
}

.icon-facebook {
    background-image: url(./assets/images/icons/facebook.svg);
}

.icon-google {
    background-image: url(./assets/images/icons/google.svg);
}

.icon-twitter {
    background-image: url(./assets/images/icons/twitter.svg);
}

.icon-linkedIn {
    background-image: url(./assets/images/icons/linkedin.svg);
}

/********** Get a Quote **********/

.information { 
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    margin: 0;
    font-family: "Lato";
    color: #f0d8d9;
    padding-top: 72px;
    padding-bottom: 10px;
}

.information_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information_content {
    flex-basis: 100%;
}

.information_header {
    font-size: 3rem;
    line-height: 18px;
    font-weight: 900;
    margin-bottom: 26px;
    word-spacing: -0.1rem;
}

.information_text {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.03rem;
    word-spacing: -0.02rem;
}


.layout-2-column {
    display: flex;
    justify-content: space-between;
    margin-top: 41px; 
}

.information-form {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.information-contacts {
    width: 32%
}

.information-form_input {
    height: 40px;
    border-radius: 5px;
    background-color: #d6564f;  
    color:  #f0d8d9;
    border: none;
    width: -webkit-fill-available;
    margin-bottom: 14px;   
    padding-left: 15px;
}

.input-textarea {
    height: 195px;
    resize: none;
    line-height: 22px;
    padding: 8px 0 0 15px;
}

.input-submit {
    text-transform: uppercase;
    line-height: 17px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: #886A30;
    background-color: #FBC65F;
    border: none;
    border-radius: 5px;
    width: 136px;
    height: 38px;
    padding-left: 0;
    cursor: pointer;
    margin-bottom: 0;
}

.information-form_input::placeholder {
    font-size: 1.2rem;
    font-family: "Lato";
    color: #f48c8f;
    line-height: 22px;
}

.information-form_input:focus {
    outline: none;
}

.information-contacts_header {
    font-size: 1.8rem;
    line-height: 19px;
    font-weight: 600;
}

.information-contacts_text {
    margin: 10px 0 20px 0;
    word-spacing: -0.04rem;
    text-align: justify;
    line-height: 22px;
}

.information-contacts_link {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
  }

.information-contacts_link::before {
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 10px;
    margin-bottom: -1px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.address_icon::before{
    background-image: url(./assets/images/icons/address.svg);
}

.phone_icon::before {
    background-image: url(./assets/images/icons/phone.svg);
}

.mail_icon::before {
    background-image: url(./assets/images/icons/mail.svg);
}

.footer {
    background-color: #2d303a;
    width: 100%;
    height: 75px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 21px 44px 0 38px;
}

.footer_copyright {
    font-size: 1.2rem;
    color: #666d89;

}

.social {
    margin-top: 2px;
    }

.social_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 4px; 
}

.social_icon:hover {
    cursor: pointer;
}

.icon-facebook {
    background-image: url(./assets/images/icons/facebook.svg);
}

.icon-google {
    background-image: url(./assets/images/icons/google.svg);
}

.icon-twitter {
    background-image: url(./assets/images/icons/twitter.svg);
}

.icon-linkedIn {
    background-image: url(./assets/images/icons/linkedin.svg);
}
.modal {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    background-color: rgb(0, 0, 0,0.5);
    padding-top: 30vh;

}

.modal_message {
    margin: auto;
    width: 25%;
    height: max-content;
    background-color:  #f2f2f2 ;
    text-align: center;
    padding: 20px;
}

.modal-title {
    font-size: 3rem;
    line-height: 18px;
    font-weight: 700;
}

.modal-text {
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 300;
    margin: 10px;
}

.modal_button {
    width: 20%;
}

.hamburger_line {
    display: none;
}

@media (max-width: 1019px) {
    .wrapper {
        text-align: unset; 
        letter-spacing: unset;
        word-spacing: unset;
    }

    .phone_slide1 {
        padding: 5.2% 11%;
    }

    .phone_verical {
        width: 242px;
        height: 486px;
    }
    
    .phone_image {
        width: 90.5%;
    }

    .phone_vertical .phone_display {
        top: 13.7%;
        left: 5.6%;
        width: 70%;
    }

    .phone_horizontal .phone_display {
       left: 25%;
        top: -25%;
        width: 35.5%;
    }

    .phone_horizontal {
        left: 6%;
    }

    .arrow-left {
        left: 3.5%;
    }

    .arrow-right {
        right: 3.5%;
    }

    .services {
        padding-top: 49px;
        padding-bottom: 17px;
    }

    .services_text {
        margin-bottom: 34px;
    }

    .tool {
        margin-bottom: 38px;
    }
    
    .tool:nth-child(2n) {
        margin-right: 35px;
    }

    .services_content {
        padding:0;
    }

    .portfolio_header {
        margin-bottom: 29px;
    }

    .portfolio_text {
        letter-spacing: 0;
    }

    .gallery li {
        width: 31.5%;
        margin-bottom: 15px;
    }

    .about-us{
        padding-top: 64px;
        padding-bottom: 69px;
    }

    .about-us_text {
        letter-spacing: 0; 
    }

    .about-us_text {
        margin-bottom: 36px;
    }

    .employee_name {
        margin-top: 11px;
    }

    .employee_text {
        margin: 0;
        margin-bottom: 12px;
    }

    .information {
        padding-top: 65px;
        padding-bottom: 29px;
    }

    .layout-2-column {
        margin-top: 22px;
    }

    .information-form {
        width: 64%;
    }

    .information-form_input {
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .input-submit {
        padding: 0;
        margin-top: 10px;
    }
    

    .input-textarea {
        padding: 6x 0 0 8px;
        height: 151px;
    }

    .information-contacts_header {
        margin-top: 0;
        line-height: 22px;
    }

    .information-contacts_text {
        margin: 0;
        margin-bottom: 10px;
    }

    .footer_wrapper {
        padding: 21px 44px 0 39px;
    }

}

@media (max-width: 767px) {

    .ancor-link {
        top:-90px;
    }

    .wrapper {
        padding: 0 30px;
    }

    .wrapper p {
        text-align: unset;
        letter-spacing: unset;
        word-spacing: unset;   
    }

    .header_wrapper {
        height: 65px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: none;
        overflow: hidden;
    }

    .humburger-block {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #2d303a;
        opacity: 0.6;
      }

    .navigation-active {
        display: block;
        position: fixed;
        z-index: 5;
        width: 278px;
        height: 100vh;
        background-color: #2D303A;
        box-shadow: 277px 0 0px rgba(0, 0, 0, 0.5);
        top:64px;
        left: 0;
        list-style: none;
        padding-top: 45%;
    }
    
    .navigation-active .navbar_item {
        font-size: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 30px;
        padding-left: 75px;
    }

    .navigation-active .navbar_item::after {
        content: none;
    }

   .logo {
        padding-top: 25px;
        font-size: 19.6875px;
        line-height: 24px;
   }
  
    .hamburger {
        position: relative;
        display: inline-block;
        width: 27px;
        height: 27px;
        right: 29%;
        top: 13%;
    } 
    
    .hamburger-active {
        transform: rotate(90deg);
        transition: transform ease 0.6s;
    }

    .hamburger_line {
        content: "";
        position: absolute;
        display: inline-block;
        border-radius: 5px;
        width: 25px;
        height: 2.4px;
        background: #fff;
        border-radius: 5px;
        left: 0px;
        top: 10px;
    }

    .hamburger_line::before {
        content: "";
        position: absolute;
        display: inline-block;
        border-radius: 5px;
        height: 2.4px;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        left: 0px;
        bottom: 10px;
    }

    .hamburger_line::after {
        content: "";
        position: absolute;
        display: inline-block;
        border-radius: 5px;
        height: 2.4px;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        left: 0px;
        top: 10px;
    }

    .arrow {
        top: 43%;
    }

    .arrow-left {
        left: 2.5%;
    }

    .arrow-right {
        right: 2.5%;
    }

    .services {
        padding-top: 32px;
        padding-bottom: 0;
    }

    .services_text {
        margin-bottom: 25px;
    }

    .tool {
        margin-bottom: 14px;
    }

    .tool:last-child {
        margin-bottom: 0;
    }

    .gallery li{
       width:calc(50% - 7px); 
       margin-bottom: 9px;
    }

    .gallery li:nth-child(1n + 9) {
        display: none;
    }

    .portfolio {
        padding-top: 25px;
        padding-bottom: 23px;
    }

    .portfolio_header {
        margin: 28px 0px 26px 0;
    }

    .about-us {
        padding-top: 45px;
        padding-bottom: 40px;
    }

    .about-us_text {
        margin-bottom: 20px;
    }

    .employee {
        width: 100%;
        
    }

    .employee:not(:last-child) {
        margin-bottom: 32px;
    }

    .employee_name {
        margin-top: 17px;
    }

    .information {
        padding-top: 55px;
    }
    
    .layout-2-column {
        flex-direction: column;
    }

    .information-form {
        width: 100%;
    }
    
    .input-submit {
        width: 100%;
        height: 50px;
        margin-top: 0;
    }

    .input-textarea {
        height: 159px;
    }
    
    .information-contacts {
        width: 100%;
    }
    
    .information-contacts_header {
        margin-top: 22px;
    }

    .information-contacts_link {
        margin-bottom: 5px;
    }

    .information {
        padding-bottom: 27px;
    }

    .footer_copyright {
        display: none;
    }

    .footer_wrapper {
        padding-top: 10px;
        justify-content: center;
        padding: 20px 0;
    }
  
}


  